<div class="nav">
	<h4>Table of Contents</h4>

	<h4>Architecture</h4>
	<ul>
		<li><a href="{{ site.baseurl }}/architecture/high-level-overview/">1) High Level Overview</a></li>
		<li><a href="{{ site.baseurl }}/architecture/services/">2) Services</a></li>
		<li><a href="{{ site.baseurl }}/architecture/models-and-collections/">3) Models and Collections</a></li>
		<li><a href="{{ site.baseurl }}/architecture/pages/">4) Pages</a></li>
		<li><a href="{{ site.baseurl }}/architecture/components/">5) Components</a></li>
		<li><a href="{{ site.baseurl }}/architecture/router/">6) Router</a></li>
		<li><a href="{{ site.baseurl }}/architecture/file-organization/">7) File Organization</a></li>
		<li><a href="{{ site.baseurl }}/architecture/best-practices/">8) Best Practices</a></li>
		<ul class="nav__inner-list">
			<li><a href="{{ site.baseurl }}/architecture/dont-use-ng-controller/">Don't use ng-controller</a></li>
			<li><a href="{{ site.baseurl }}/architecture/when-to-use-scope-events/">When to Use Scope Events</a></li>
		</ul>
		<li>9) Additional Techniques</li>
		<ul class="nav__inner-list">
			<li><a href="{{ site.baseurl }}/architecture/use-a-loader-class-for-paging/">Use a Loader Class for Paging</a></li>
		</ul>
	</ul>

	<h4>Testing</h4>
	<ul>
		<li><a href="{{ site.baseurl }}/testing/services/">1) Services</a></li>
		<li><a href="{{ site.baseurl }}/testing/components/">2) Components</a></li>
		<!--<ul class="nav__inner-list">
			<li><a href="{{ site.baseurl }}/testing/components-the-old-way-of-doing-things">The Old Way of Doing Things</a></li>
		</ul>-->
		<li><a href="{{ site.baseurl }}/testing/pages/">3) Pages</a></li>
		<li><a href="{{ site.baseurl }}/testing/best-practices">4) Best Practices</a></li>
		<ul class="nav__inner-list">
			<li><a href="{{ site.baseurl }}/testing/mocking">Mock as Little As Possible</a></li>
		</ul>
	</ul>

	<h4>General Best Practices</h4>
	<ul>
		<li><a href="{{ site.baseurl }}/best-practices/take-every-opportunity-to-improve-the-code">1) Take Every Opportunity To Improve the Code</a></li>
		<li><a href="{{ site.baseurl }}/best-practices/test-everything/">2) Test Everything</a></li>
	</ul>

	<h4>Cordova/Crosswalk</h4>
	<ul>
		<li><a href="{{ site.baseurl }}/hybrid-apps/abstracting-plugins/">1) Abstracting Cordova Plugins</a></li>
		<!--<li>4) Handle Cordova events &lt;!&ndash;like pause/resume&ndash;&gt; in one place, and delegate from there.</li>-->
	</ul>
</div>