<div class="nav">
	<h4><a href="/architecture/">Architecture</a></h4>
	<ul>
		<li><a href="/architecture/high-level-architecture/">High Level Architecture</a></li>
		<li><a href="/architecture/router/">Router</a></li>
		<li><a href="/architecture/pages/">Pages</a></li>
		<ul class="nav__inner-list">
			<li><a href="/architecture/pages-the-old-way-of-doing-things/">The Old Way of Doing Things</a></li>
		</ul>
		<li><a href="/architecture/components/">Components</a></li>
		<li><a href="/architecture/services/">Services</a></li>
		<li><a href="/architecture/domain-objects/">Domain Objects</a></li>
		<li><a href="/architecture/file-organization/">File Organization</a></li>
		<li><a href="/architecture/best-practices/">Best Practices</a></li>
		<li><a href="/architecture/dont-use-ng-controller/">Don't use ng-controller</a></li>
		<li><a href="/architecture/when-to-use-scope-events/">When to Use Scope Events</a></li>
	</ul>

	<h4>Testing</h4>
	<ul>
		<li><a href="/testing/components/">Services</a></li>
		<li><a href="/testing/components/">Components</a></li>
		<li><a href="/testing/pages/">Pages</a></li>
		<li><a href="/testing/best-practices">Best Practices</a></li>
		<li><a href="/testing/mocking">Mock as Very Little As Possible</a></li>
	</ul>

	<h4>General Best Practices</h4>
	<ul>
		<li><a href="/best-practices/take-every-opportunity-to-improve-the-code">Take Every Opportunity To Improve the Code</a></li>
		<li><a href="/best-practices/test-everything/">Test Everything</a></li>
	</ul>

	<h4>Cordova/Crosswalk</h4>
	<ul>
		<li><a href="/hybrid-apps/abstracting-plugins/">Abstracting Native Plugins</a></li>
		<li>Handle Cordova events <!--like pause/resume--> in one place, and delegate from there.</li>
	</ul>
</div>