// Styling for the `<app-error-box>` example component

.app-error-box {}
.app-error-box__header { font-size: 24px; }
.app-error-box__text { font-size: 16px; }
.app-error-box__retryBtn { margin-top: 5px; font-size: 16px; }